@font-face{
    font-family:"Avenir";
    src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Regular.otf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:"Avenir";
    src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Demi.otf);
    font-weight: 600;
    font-style: normal;
}

@font-face{
    font-family:"Avenir";
    src: url(../assets/fonts/AvenirNextProLT/AvenirNextLTPro-Bold.otf);
    font-weight: bold;
    font-style: normal;
}

// ---- Mobile ---- //
$mPageHeader: 700 1.5rem/2rem "Avenir";
$mSubheader: 600 0.875rem/1.375rem "Avenir";
$mBody: 400 0.813rem/1.125rem "Avenir";
$mLabelsButtons: 600 0.75rem/1.25rem "Avenir";


// ---- Tablet/Desktop ---- //

$tHeroHeader: 700 3.75rem/4.25rem "Avenir";
$tMainHeader: 700 2.25rem/2.75rem "Avenir";
$tSectionHeader: 700 1.5rem/2rem "Avenir";
$tSubHeader: 600 1rem/1.5rem "Avenir";
$tBody: 400 0.875rem/1.375rem "Avenir";
$tListContact: 400 0.875rem/1.25rem "Avenir";
$tLabels: 700 0.75rem/1.25rem "Avenir";