@use "../../partials/colors" as *;
@use "../../partials/mixins" as *;
@use "../../partials/typography" as *;

.videolist{
    margin: 1rem;

    @include tablet{
        margin: 2rem;
        max-width: 320px;
    }

    &__header{
        margin: 2rem 0;
        font: $mLabelsButtons;
        color: $silver;
    }
}