.header {

    &__avatar{
        object-fit: cover;
        &-container{
            height: 48px;
            width: 48px;
            overflow: hidden;
            display: flex;
            margin: 0;
            border-radius: 50%;



    }
  }
}